<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Erro inesperado | Sistema de Ponto Eletrônico</title>
  </head>

  <body>
    <h1>Erro inesperado</h1>
    <p>
      Ocorreu um erro inesperado. Por favor, entre em contato com o suporte
      técnico para mais informações.
    </p>
  </body>
</html>
