@import 'tailwindcss';

@theme {
	--font-sans: 'Inter Variable', sans-serif;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-neutral-300, currentColor);
	}

	body {
		@apply tracking-tight text-neutral-500;
	}

	h1 {
		@apply text-2xl font-bold text-neutral-900;
	}

	h2 {
		@apply text-xl font-bold text-neutral-900;
	}

	h3 {
		@apply text-lg font-bold text-neutral-900;
	}

	strong {
		@apply font-semibold text-neutral-900;
	}

	form {
		@apply grid gap-3;
	}

	label {
		@apply block text-sm font-medium text-neutral-900;
	}

	input {
		@apply block h-11 w-full rounded-md border px-4 text-neutral-900 disabled:bg-neutral-100 disabled:text-neutral-500;
	}

	textarea {
		@apply block w-full rounded-md border px-4 py-2.5 text-neutral-900;
	}

	select {
		@apply block h-11 w-full appearance-none rounded-md border pr-10 pl-4 text-neutral-900;
	}
}

@utility container {
	--padding-inline: 1rem;

	max-width: calc(48rem + 2 * var(--padding-inline));
	padding-inline: var(--padding-inline);
	margin-inline: auto;
}

@utility btn {
	@apply flex h-11 min-w-48 items-center justify-center gap-2 rounded-md bg-indigo-600 px-4 text-sm font-medium text-white transition-colors duration-200 not-disabled:cursor-pointer hover:bg-indigo-700 [&_svg]:size-4.5;
}

@utility btn-outline {
	@apply flex h-11 min-w-48 items-center justify-center gap-2 rounded-md border px-4 text-sm font-medium text-neutral-900 transition-colors duration-200 not-disabled:cursor-pointer hover:bg-neutral-50 [&_svg]:size-4.5;
}

@utility btn-icon {
	@apply flex h-11 w-11 items-center justify-center gap-2 rounded-md border text-sm font-medium text-neutral-900 transition-colors duration-200 not-disabled:cursor-pointer hover:bg-neutral-50 [&_svg]:size-4.5;
}

@utility btn-destructive {
	@apply border-red-500 text-red-500 hover:bg-red-100;
}
