@import 'tailwindcss';

@theme {
	--font-sans: 'Inter Variable', sans-serif;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-neutral-300, currentColor);
	}
}

body {
	@apply tracking-tight;
}

@utility container {
	--padding-inline: 1rem;

	max-width: calc(48rem + 2 * var(--padding-inline));
	padding-inline: var(--padding-inline);
	margin-inline: auto;
}
